html {
    font-family: sans-serif;
    margin: 2rem;
}

label, input {
    display: block;
    margin-bottom: 1rem;
}

input {
    height: 2.5rem; /* Set a consistent height */
    line-height: 2.5rem; /* Match line-height to height for vertical centering */
    vertical-align: middle; /* Align text vertically within the input */
}

main > div {
    margin-bottom: 2rem;
}
