.resources {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.resources .container {
    color: #bcbcbc;
    background-color: #17375E;
    max-width: 90%;
    min-width: 50%;
    height: 95%;
    padding: 1rem 2rem;
    border-radius: 5px;
    overflow-y: auto;
}

.container button {
    position: fixed;
    width: 3rem;
    height: 3rem;
    padding: 0;
    border-radius: 50%;
    top: 20px;
    right: 15px;
    border: 1px solid white;
}

.open-instruction {
    padding: 0;
    font-size: 1.5rem;
    right: 100px;
}

.explainer {
    margin-bottom: 1rem;
}

.explainer li, .explainer a {
    color: #fff;
    list-style: circle;
    margin-left: 1rem;
}

.hidden {
    display: none;
}